apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: application-set
  namespace: argocd

spec:
  goTemplate: true
  goTemplateOptions:
    - "missingkey=error"
  generators:
    - git:
        repoURL: https://github.com/Kentaro1043/manifest
        revision: main
        directories:
          - path: "ai"
          - path: "argocd"
          - path: "cert-manager"
          - path: "external-dns"
          # - path: "grafana-k8s-monitoring-app"
          - path: "misskey"
          - path: "n8n"
          - path: "nfs"
          - path: "origin-ca-issuer"
          - path: "pds"
          - path: "traefik"
          - path: "vaultwarden"

  template:
    metadata:
      name: "{{.path.basename}}"
    spec:
      destination:
        namespace: "{{.path.basename}}"
        server: https://kubernetes.default.svc
      project: default
      source:
        repoURL: https://github.com/Kentaro1043/manifest
        path: "{{.path.path}}"
        targetRevision: main
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: true
          selfHeal: true
