apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: misskey
  labels:
    app.kubernetes.io/name: misskey
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    cert-manager.io/issuer: "cloudflare-origin-issuer"
    cert-manager.io/issuer-kind: ClusterOriginIssuer
    cert-manager.io/issuer-group: cert-manager.k8s.cloudflare.com

spec:
  rules:
    - host: mi.kentaro1043.com
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: misskey
                port:
                  name: http
  tls:
    - hosts:
        - mi.kentaro1043.com
      secretName: misskey-tls
