apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: vaultwarden
    repo: https://guerzon.github.io/vaultwarden
    version: 0.34.4
    releaseName: vaultwarden
    namespace: vaultwarden
    additionalValuesFiles:
      - ./additional-values.yaml

resources:
  - ./ingress-route.yaml
  - ./certificate.yaml

generators:
  - ./ksops.yaml
