apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-tls
spec:
  secretName: traefik-tls
  dnsNames:
    - "traefik.kentaro1043.com"
  issuerRef:
    group: cert-manager.k8s.cloudflare.com
    kind: ClusterOriginIssuer
    name: cloudflare-origin-issuer
