helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 37.3.0
    releaseName: traefik
    namespace: traefik
    includeCRDs: true
    additionalValuesFiles:
      - ./additional-values.yaml

resources:
  - ./certificate.yaml
  - ./metrics-ingress-route.yaml
