apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 37.4.0
    releaseName: traefik
    namespace: traefik
    includeCRDs: true
    valuesFile: ./values.yaml

resources:
  - ./certificate.yaml
#  - ./metrics-ingress-route.yaml
