# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json

deployment:
  kind: DaemonSet

ports:
  handscale:
    port: 9090
    protocol: UDP
    exposedPort: 9090
    expose:
      default: true

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.kentaro1043.com`)
    entryPoints:
      - websecure
    tls:
      secretName: traefik-tls
  healthcheck:
    enabled: true
    matchRule: Host(`traefik.kentaro1043.com`) && PathPrefix(`/ping`)
    entryPoints:
      - websecure
    tls:
      secretName: traefik-tls

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true

service:
  annotations:
    oci.oraclecloud.com/load-balancer-type: "nlb"
  spec:
    externalTrafficPolicy: Local

metrics:
  enabled: true
  addInternals: true
  prometheus:
    manualRouting: true
