# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json

deployment:
  kind: DaemonSet

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/target: "oci-lb.kentaro1043.com"
      kubernetes.io/ingress.class: traefik
    matchRule: Host(`traefik.kentaro1043.com`)
    entryPoints:
      - websecure
    middlewares:
      - name: traefik-dashboard-auth
    tls:
      secretName: traefik-tls
  healthcheck:
    enabled: true
    matchRule: Host(`traefik.kentaro1043.com`) && PathPrefix(`/ping`)
    entryPoints:
      - websecure
    middlewares:
      - name: traefik-dashboard-auth
    tls:
      secretName: traefik-tls

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true

service:
  annotations:
    oci.oraclecloud.com/load-balancer-type: "nlb"
    oci-network-load-balancer.oraclecloud.com/external-ip-only: "true"
  spec:
    externalTrafficPolicy: Local

metrics:
  enabled: true
  addInternals: true
  prometheus:
    manualRouting: true
