helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 8.6.0
    releaseName: argocd
    namespace: argocd
    includeCRDs: true
    additionalValuesFiles:
      - ./additional-values.yaml

resources:
  - ./ingress-route.yaml
  - ./certificate.yaml

generators:
  - ./ksops.yaml
