helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 8.5.10
    releaseName: argocd
    namespace: argocd
    includeCRDs: true
    additionalValuesFiles:
      - ./values.yaml

generators:
  - ./ksops.yaml
