# yaml-language-server: $schema=https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/heads/master/charts/external-dns/values.schema.json

provider:
  name: cloudflare
policy: sync
txtOwnerId: oke-cluster
domainFilters:
  - kentaro1043.com

sources:
  - service
  - ingress
  - crd
  - traefik-proxy

extraArgs:
  - --cloudflare-proxied
  - --cloudflare-record-comment="external-dns"
  - --crd-source-apiversion
  - externaldns.k8s.io/v1alpha1
  - --crd-source-kind
  - DNSEndpoint
  - --txt-prefix="%{record_type}-external-dns."

managedRecordTypes:
  - A
  - AAAA
  - CNAME

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: api-key

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
