# yaml-language-server: $schema=https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/heads/master/charts/external-dns/values.schema.json

provider:
  name: cloudflare
policy: sync
txtOwnerId: oke-cluster
txtPrefix: owner-
domainFilters:
  - kentaro1043.com

source:
  - service
  - ingress
  - crd
  - traefik-proxy

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: api-key

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
