apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    releaseName: cert-manager
    version: v1.19.3
    namespace: cert-manager
    valuesFile: ./values.yaml

resources:
  - ./http-01-issuer-staging.yaml
  - ./http-01-issuer.yaml
  - ./dns-01-issuer.yaml

generators:
  - ksops.yaml
